<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport"
content="width=device-width, initial-scale=1.0">

<title>Calendar | SkillSwap</title>


<link rel="stylesheet"
href="{{url_for('static',
filename='css/sidebar.css')}}">


<link rel="stylesheet"
href="{{url_for('static',
filename='css/calendar.css')}}">



<link rel="stylesheet"

href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">



<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"

rel="stylesheet">


</head>



<body>



{% include 'components/dashboard_sidebar.html' %}



<div class="main-content">



<div class="calendar-header">


<h1>

Learning Calendar

</h1>



<p>

Manage your learning sessions


</p>



</div>





<div class="calendar-grid">






<!-- LEFT -->


<div class="calendar-card">





<div class="calendar-nav">



<button id="prevMonth">


<i class="fa-solid fa-chevron-left">


</i>



</button>






<div class="month-selector">





<div id="selectedMonth">


June


<i class="fa-solid fa-chevron-down">


</i>


</div>





<div id="monthDropdown">



<div>January</div>

<div>February</div>

<div>March</div>

<div>April</div>

<div>May</div>

<div>June</div>

<div>July</div>

<div>August</div>

<div>September</div>

<div>October</div>

<div>November</div>

<div>December</div>

</div>

</div>

<button id="nextMonth">

<i class="fa-solid fa-chevron-right">

</i>

</button>

</div>


<div id="calendar">



</div>

</div>



<!-- RIGHT -->


<div class="sessions-panel">





<h2>


Upcoming Sessions


</h2>

<div id="sessionList">

{% for s in sessions %}


<div


class="session-item"



onclick="showDetails('{{s['id']}}')"

>

<h3>


{{s['skill']}}


</h3>

<p>


{{s['session_date']}}


</p>

</div>

{% endfor %}
</div>
<!-- DETAILS CARDS -->

{% for s in sessions %}


<div

class="details-card"

id="details{{s['id']}}"

style="display:none;"

>


<button

class="back-btn"

onclick="hideDetails('{{s['id']}}')"

>

<i class="fa-solid fa-arrow-left"></i>

Back


</button>





<div class="teacher-box">



{% if s['profile_pic'] %}


<img


src="{{s['profile_pic']}}"


class="teacher-img"



>



{% else %}



<div class="teacher-avatar">


{{s['teacher_name'][0].upper()}}


</div>



{% endif %}




<div>



<h3>


{{s['teacher_name']}}


</h3>



<p>


{{s['skill']}}


</p>



</div>



</div>








<div class="detail-row">


<span>


📝 Title


</span>



<p>


{{s['title']}}


</p>



</div>








<div class="detail-row">


<span>


📅 Date


</span>



<p>


{{s['session_date']}}


</p>



</div>








<div class="detail-row">


<span>


🕒 Time


</span>



<p>


{{s['session_time']}}


</p>



</div>

<div class="detail-row">


<span>


⏳ Duration


</span>



<p>


{{s['duration']}}


Minutes


</p>

</div>


{% if s['status']=="live" %}




<a href="{{s['meeting_link']}}"


target="_blank"


class="join-btn"

>


Join Now


</a>


{% else %}


<button class="wait-btn">


Waiting For Teacher


</button>

{% endif %}

</div>


{% endfor %}

</div>

</div>

</div>
<script>


const sessionDates=[

{% for s in sessions %}

"{{s['session_date']}}"

{% if not loop.last %},{% endif %}

{% endfor %}

];



const calendar=

document.getElementById(

'calendar'

);



const selectedMonth=

document.getElementById(

'selectedMonth'

);



const monthDropdown=

document.getElementById(

'monthDropdown'

);




const months=[


"January",
"February",
"March",
"April",
"May",
"June",
"July",
"August",
"September",
"October",
"November",
"December"


];




let today=

new Date();



let currentMonth=

today.getMonth();



let currentYear=

today.getFullYear();






function generateCalendar(){



calendar.innerHTML='';





let firstDay=

new Date(

currentYear,

currentMonth,

1

).getDay();





let daysInMonth=

new Date(

currentYear,

currentMonth+1,

0

).getDate();






let prevMonthDays=

new Date(

currentYear,

currentMonth,

0

).getDate();






let week=

document.createElement(

'div'

);


week.className='week-row';



week.innerHTML=`


<div>Sun</div>

<div>Mon</div>

<div>Tue</div>

<div>Wed</div>

<div>Thu</div>

<div>Fri</div>

<div>Sat</div>


`;



calendar.appendChild(

week

);





let grid=

document.createElement(

'div'

);


grid.className='days-grid';






for(


let i=firstDay-1;


i>=0;


i--


){



let d=

document.createElement(

'div'

);



d.className='prev-day';



d.innerHTML=

prevMonthDays-i;



grid.appendChild(

d

);



}







for(


let i=1;


i<=daysInMonth;


i++


){



let date=


`${currentYear}-${String(currentMonth+1).padStart(2,'0')}-${String(i).padStart(2,'0')}`;

let d=

document.createElement(

'div'

);



d.className='day';



d.innerHTML=i;





if(

sessionDates.includes(

date

)

){



d.classList.add(

'active-day'

);



}



grid.appendChild(

d

);



}







let total=


firstDay+daysInMonth;



let remaining=


42-total;






for(


let i=1;


i<=remaining;


i++


){



let d=

document.createElement(

'div'

);



d.className='next-day';



d.innerHTML=i;



grid.appendChild(

d

);



}

calendar.appendChild(

grid

);

selectedMonth.innerHTML=`


${months[currentMonth]}



<i class="fa-solid fa-chevron-down">


</i>


`;




}

generateCalendar();

selectedMonth.onclick=()=>{


monthDropdown.classList.toggle(

'show'

);


};


monthDropdown.querySelectorAll(

'div'

).forEach(


(item,index)=>{



item.onclick=()=>{


currentMonth=index;



generateCalendar();



monthDropdown.classList.remove(

'show'

);



}



});

document.getElementById(

'prevMonth'

).onclick=()=>{



currentMonth--;



if(


currentMonth<0

){

currentMonth=11;

currentYear--;

}

generateCalendar();



};

document.getElementById(

'nextMonth'

).onclick=()=>{

currentMonth++;

if(


currentMonth>11

){

currentMonth=0;

currentYear++;

}

generateCalendar();



};

function showDetails(id){



document.getElementById(

'sessionList'

).style.display='none';



document.querySelectorAll(

'.details-card'

).forEach(card=>{


card.style.display='none';


});



document.getElementById(

'details'+id

).style.display='block';



}


function hideDetails(id){



document.getElementById(

'details'+id

).style.display='none';



document.getElementById(

'sessionList'

).style.display='block';



}

</script>

</body>

</html>